{% extends 'base.html' %}

{% block title %}
{{ user.username|title }}
{% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        username: <b>{{ user.username }}</b>
    </li>
    <li class="list-group-item list-group-item-action">
        email: <b>{{ user.email }}</b>
    </li>
    <li class="list-group-item list-group-item-action">
        first name: <b>{{ user.first_name }}</b>
    </li>
    <li class="list-group-item list-group-item-action"></li>
</ul>


<div class="row row-gap-4">
    {% for article in articles %}
    <div class="col-4">
        <div class="card">
            {% if article.photo %}
            <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="https://cotton-store.ru/wa-data/public/shop/themes/profitbuy/img/nofoto.jpg" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.short_description }}</p>
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}